@import "../../responsive.scss";

.listItem {
  display: flex;

  @include md {
    flex-direction: row;
  }
  @include sm {
    flex-direction: column;
  }

  .imageContainer {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 250px;
      height: 150px;
      object-fit: cover;
      border-radius: 8px;
      @include lg {
        width: 220px;
        height: 150px;
      }
      @include sm {
        width: 90%;
        height: 180px;
      }
    }
  }
  .textContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include md {
      width: 60%;
    }
    @include sm {
      width: 90%;
      margin-top: 10px;
      margin-left: 30px;
    }

    .listText {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;

      .address {
        display: flex;
        align-items: flex-end;
        gap: 5px;
        color: #666;
        font-size: 14px;
      }
      h1 {
        font-size: 18px;
      }
      span {
        font-size: 14px;
        font-weight: 500;
        background-color: #ffe79e;
        border-radius: 3px;
        width: fit-content;
        height: auto;
      }
    }
    .bottom {
      display: flex;

      .features {
        display: flex;
        flex: 3;
        justify-content: space-between;
        @include sm {
          flex: 5;
        }

        .icon {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 5px;
          background-color: #e9e9e9;
          border-radius: 5px;
          width: auto;
          font-size: 14px;
        }
      }
      .icons {
        display: flex;
        flex: 2;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        @include sm {
          flex: 2;
        }

        .icon {
          width: 28px;
          height: 28px;
          cursor: pointer;
          border: solid 1px #afafaf;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
