@import "../../responsive.scss";

.layout {
  height: 100vh;
  max-width: 1306px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include lg {
    max-width: 1180px;
  }

  @include md {
    max-width: 768px;
    padding-right: 0;
  }

  @include sm {
    max-width: 640px;
  }

  .content {
    width: 100%;
    height: calc(100vh - 80px);
  }
}
